[user]
	name = hugcis
	email = hmj.cisneros@gmail.com
	signingkey = ssh-ed25519 AAAAC3NzaC1lZDI1NTE5AAAAIISAYNU+ArG43Zp4mHI5pm7Wfa4VQ4cV/dgNexczIfpU hugo@Hcis

[core]
	excludesfile = ~/.gitexclude

[filter "lfs"]
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
	clean = git-lfs clean -- %f

[alias]
        co = checkout
        ci = commit
        st = status
        br = branch
        hist = log --pretty=format:\"%h %ad | %s%d [%an]\" --graph --date=short
        type = cat-file -t
        dump = cat-file -p
        la = log --all --graph --oneline --decorate

[pull]
	ff = only

[init]
	defaultBranch = main

[url "github-work:last_genocto/"]
        insteadOf = git@github.com:last_genocto/

[push]
	default = simple
# [gpg]
#	format = ssh
